@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1473059894_624067.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1473059894_624067.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1473059894_624067.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1473059894_624067.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1473059894_624067.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.header {
  position: fixed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top: 0;
  z-index: 4;
  height: 1.0rem;
  width: 100%;
  background: #1bb1b2;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.header-icon {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  text-align: center;
  line-height: 1.0rem;
}
.header-cont {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  flex: 6;
  padding-left: .267rem;
}
.iconfont {
  font-family: "iconfont";
  font-size: 0.48rem;

  font-style: normal;
  color: #ffffff;
}

.sidebar-box {
  position: fixed;
  background: #fff;
  box-shadow: 0 10px 30px #aaa;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  height: 100%;
  
  overflow: auto;
  width: 7.733rem;
  left: -7.733rem;
  z-index: 99;
  top: 0;
  bottom: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.sidebar-box.show-sidebar {
  -webkit-transform: translateX(7.733rem);
  transform: translateX(7.733rem);
}
.sidebar-mask {
  position: fixed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(0,0,0,.7);
}
.container-box {
  padding-top: 1.0rem;
}
.t-c {
  text-align: center;
}
.fade-enter-active, 
.fade-leave-active {
  transition: all .9s linear;
  opacity: 1;
  overflow: hidden;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
